.dots {
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0px;
  cursor: pointer;
  padding: 8px;
  clip-path: circle(16px at center);
  -webkit-clip-path: circle(16px at center);
}

.dots-img {
  width: 16px;
  height: 16px;
  pointer-events: none;
}

.dropdownButton {
  background: none!important;
  border: none;
  padding: 0!important;
  cursor: pointer;
  align-items: center;
  color: red;
}

.dots:hover, .dots:focus {
  background-color: #e0e0e0;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  text-align: center;
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 100px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 5%
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}
