
.link {
  background: none!important;
  border: none;
  padding: 0!important;
  /*optional*/
  font-family: arial, sans-serif;
  /*input has OS specific font-family*/
  color: #069;
  cursor: pointer;
}

.imgBtn{
  background: none;
  border: none;
  cursor: pointer;
  padding: 0!important;
  height: 40px;
  width: 40px;
  border-radius: 50%;
}
